body {
  font-family: 'bebas-neue', sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: #1A1519;
  background-color: #1A1519; }

html {
  width: 100%;
  height: 100%; }

h1,
h2,
h4,
h5,
h6 {
  font-family: 'bebas-neue', sans-serif;
  font-weight: 400;
  font-size: 44px;
  margin: 0 0 0px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff; }
  h3 {
    font-family: 'bebas-neue', sans-serif;
    font-weight: 600;
    margin: 0 0 0px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
p {
  font-family: 'bebas-neue', sans-serif;
  font-size: 16px;
  color: white;
  line-height: 1.5;
  margin: 0 0 25px; }
  @media (min-width: 768px) {
    p {
      font-size: 18px;
      line-height: 1.6;
      margin: 0 0 35px; } }

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #ffffff; }
  a:focus, a:hover {
    text-decoration: none;
    color: #136885; }

#mainNav {
  font-family: 'bebas-neue', sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  background-color: #1A1519; }
  #mainNav .navbar-toggler {
    font-size: 40px;
    padding: 11px;
    color: #ffffff;
    border: none; }
  #mainNav .navbar-brand {
    font-weight: 700; }
  #mainNav a {
    color: #ffffff;
     font-size: 25px;}
  #mainNav .navbar-nav .nav-item {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out; }
    #mainNav .navbar-nav .nav-item:hover a:hover {
      color: white;
      outline: none;
      background-color: #136885; }
    #mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
      color: #1A1519;
      background-color: #136885; }
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 10px;
      padding-bottom: 10px;
      -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
      -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
      transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
      letter-spacing: 1px;
      border-bottom: none;
      background: #1A1519; }
      #mainNav.navbar-shrink {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        background: #1A1519; }
      #mainNav .nav-link.active {
        outline: none;
        background-color: rgba(255, 255, 255, 0.3); }
        #mainNav .nav-link.active:hover {
          color: #1A1519; } }

.masthead {
  display: table;
  width: 100%;
  height: 100%;
  padding: 150px 0px;
  text-align: center;
  color: #1A1519;
  background-color: #1A1519;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .masthead .intro-body {
    display: table-cell;
    vertical-align: middle;; }
    .masthead .intro-body .brand-heading {
      font-size: 125px;
      line-height: 80%;
      color: #ffffff;
      text-shadow: 2px 2px #136885; }
    .masthead .intro-body .intro-text {
      font-size: 50px;
      color: #ffffff; }
  @media (min-width: 768px) {
    .masthead {
      height: 100%;
      padding: 90px; }
      .masthead .intro-body .brand-heading {
        font-size: 200px;
        line-height: 85%;}
      .masthead .intro-body .intro-text {
        font-size: 50px;
        color: white; } }
  #intro p {
    font-size: 35px
  }

.btn-circle:focus, .btn-circle:hover {
    color: #f2f2f2;
    outline: #f2f2f2;}

.about-section {
  background-color: white;
  padding-top: 300px;
  padding-bottom: 300px;
  margin-top: 20px;}

  #about h2 {
    font-family: 'bebas-neue', sans-serif;
    font-weight: 400;
    font-size: 44px;
    margin: 0 0 0px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #136885; }

  #about p {
    color: #136885;
     font-size: 25px;}

.projects-section {
  color: #1A1519;
  background-color: #1A1519;
  padding-top: 150px;
  padding-bottom: 150px;
  margin-top: 20px;
  margin-bottom: 80px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

  .contact-section {
    background-color: #136885;
    padding-top: 100px;
    padding-bottom: 75px;
    margin-top: 20px;}

.btn {
  font-family: 'bebas-neue', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0; }

  .btn-default {
    color: black;
    border: 1px solid black;
    background-color: transparent; }
  .btn-default:focus, .btn-default:hover {
      color: black;
      border: 1px solid #4314ff;
      outline: none;
      background-color: #4314ff; }
#contact a {
  color: #ffffff
}
ul.about-me-buttons {
   margin-top: 0px; }
   @media (max-width: 1199px) {
ul.about-me-buttons {
   margin-top: 0px; } }
   @media (max-width: 767px) {
ul.about-me-buttons li {
   display: block;
   margin-bottom: 20px;
   padding: 0px; }
ul.about-me-buttons li:last-child {
   margin-bottom: 0px; } }

ul.banner-social-buttons {
  margin-top: 20px; }
  @media (max-width: 1199px) {
ul.banner-social-buttons {
  margin-top: 15px; } }
  @media (max-width: 767px) {
ul.banner-social-buttons li {
  display: inline-block;
  margin: 20px;
  padding: 0px; }
ul.banner-social-buttons li:last-child {
  margin-bottom: 0; } }

footer {
  padding: 50px 0; }
footer p {
    font-size: 14px;
    margin: 0; }

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none; }

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2); }
